<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="" />
    <title>UniCret</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../Source/Style.css" />
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="logo">
          <a href="../View/home.html">UniCret</a>
        </div>
        <ul class="links">
          <li><a href="home.html">Home</a></li>
          <li><a href="#about_us">About</a></li>
          <li><a href="#services">Service</a></li>
          <li><a href="../View/projects.html">Project</a></li>
          <li><a href="contact-us">Contact</a></li>
        </ul>
        <a href="#" class="action_btn">Get Started</a>
        <div class="toggle_btn">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>

      <div class="dropdown_menu">
        <li><a href="home.html">Home</a></li>
        <li><a href="#about_us">About</a></li>
        <li><a href="#services">Service</a></li>
        <li><a href="../View/projects.html">Project</a></li>
        <li><a href="contact-us">Contact</a></li>
        <li><a href="#" class="action_btn">Get Started</a></li>
      </div>
    </header>

    <section class="hero_section">
      <div class="row">
        <div class="col_1">
          <h1>Welcome</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta
            quibusdam dolorum officia laudantium harum in.
          </p>
        </div>
        <div class="col_2">
          <img
            src="../Image/pexels-lulizler-3165335.jpg"
            alt="We are Creaters"
          />
        </div>
      </div>
    </section>

    <section class="services" id="services">
      <h1>SERVICES</h1>
      <div class="row">
        <div class="col_1">
          <img src="../Image/blockchain-7684230_1920.jpg" alt="Web Design" />
          <h2>WEB DESIGN</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia
            doloribus repellat natus consequuntur sapiente voluptatem sed qui
            minima ipsa mollitia, quod totam accusantium accusamus ducimus!
          </p>
        </div>
        <div class="col_2">
          <img
            src="../Image/pexels-artempodrez-5716001.jpg"
            alt="Digital Marketing"
          />
          <h2>DIGITAL MARKETING</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia
            doloribus repellat natus consequuntur sapiente voluptatem sed qui
            minima ipsa mollitia, quod totam accusantium accusamus ducimus!
          </p>
        </div>
        <div class="col_3">
          <img
            src="../Image/pexels-mo-eid-1268975-8657160.jpg"
            alt="3D Modeling"
          />
          <h2>3D MODELING</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia
            doloribus repellat natus consequuntur sapiente voluptatem sed qui
            minima ipsa mollitia, quod totam accusantium accusamus ducimus!
          </p>
        </div>
      </div>
    </section>

    <script src="../Source/script.js"></script>

    <section class="about_us" id="about_us">
      <div class="row">
      <div class="col_1"><h1>About Us</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
        repellendus magni totam nesciunt aliquam. Necessitatibus doloremque
        nobis debitis sunt autem fugit repellendus officia facere placeat in,
        numquam repudiandae quod, sed suscipit aspernatur dolore rem quae
        corrupti. Illo ratione vero ex illum earum adipisci harum veniam
        laudantium corporis ea nesciunt repudiandae, numquam temporibus dolore
        quam quia omnis consectetur. Eveniet amet, architecto saepe
        reprehenderit fuga ipsum ex fugit magni repudiandae voluptas optio
        maiores laboriosam nulla officia consequuntur delectus obcaecati dolorum
        id hic ipsa quo. Repudiandae quisquam praesentium numquam ea, id
        delectus, quam tenetur velit porro cum neque rem laborum qui laboriosam
        impedit!
      </p>
      </div>
      <div class="col_2">
        <img src="../Image/About_us.jpg" alt="about us img">
      </div>
      </div>
    </section>
  </body>
  <footer>
    <div class="bottom">
      <div class="row">
        <div class="col_1">

        </div>
      </div>
    </section
  </footer>
</html>
