<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Projects</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../Source/Style.css" />
    <!--<link rel="Home" href="../View/home.html"> -->
</head>
 <header>
      <div class="navbar">
        <div class="logo">
          <a href="../View/home.html">UniCret</a>
        </div>
        <ul class="links">
          <li><a href="home.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Service</a></li>
          <li><a href="#project">Project</a></li>
          <li><a href="#contact-us">Contact</a></li>
        </ul>
        <a href="#" class="action_btn">Get Started</a>
        <div class="toggle_btn">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>

      <div class="dropdown_menu">
        <li><a href="home.html">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="#services">Service</a></li>
        <li><a href="#project">Project</a></li>
        <li><a href="#contact-us">Contact</a></li>
        <li><a href="#" class="action_btn">Get Started</a></li>
      </div>
    </header>
<body>
    <section class="projects">
       <!-- <img src="../Image/Project background.jpg" alt="projects background"> -->
        <h1>PROJECTS</h1>
        <div class="row_1">
          <h1>WEB DESIGNING</h1>
            <div class="col_1">
              
            </div>
            <div class="col_2">
              
            </div>
            <div class="col_3">
              
            </div>
        </div>
        <div class="row_2">
          <h1>3D MODELING</h1>
            <div class="col_1"></div>
            <div class="col_2"></div>
            <div class="col_3"></div>
        </div>
        <div class="row_3">
          <h1>DIGITAL MARKETING</h1>
            <div class="col_1"></div>
            <div class="col_2"></div>
            <div class="col_3"></div>
        </div>
    </section>
    <script src="../Source/script.js"></script>
</body>
</html>